<div class="container">
  <h5>ユーザーネーム：<%= @user.name %></h5>
  <section class="stats">
    <%= render 'devise/shared/stats' %>
  </section>
  <section>
    <%= render 'devise/shared/follow_form' if user_signed_in? %>
  </section>

  <% @users.each do |user| %>
    <%= link_to user.name, profile_path(user) %>
  <% end %>

</div>
