<% if user_signed_in? %>
  <% if @task.user_id == current_user.id %>
    <div class="container mt-3">
      <h2><%= @task.title %></h2>
      <p>ステータス：</p>
      <br>

      <h6>タスク詳細</h6>
      <br>

      <h6>サブタスク</h6>
      <br>

      <h6>タグ</h6>
      <br>
      <br>

      <h6>期日</h6>
      <br>

      <h6>ファイル</h6>
      <br>

      <h6>コメント</h6>
      <br>

    </div>
  <% else %>
    <h4>表示できません。</h4>
  <% end %>
<% end %>
