<div class="container mt-5">

  <h4 style="color: dodgerblue;"><%= icon('fas', 'bell') %>&nbsp;通知</h4>

  <% notifications = @notifications.where.not(visitor_id: current_user.id) %>
  <% if notifications.exists? %>
    <%= render @notifications %>
  <% else %>
  <div class="card" style="width: 20rem;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">通知はありません</li>
    </ul>
  </div>    
  <% end %>

</div>
