<div class="file-form">
  <%= form_with(model: [@task, @attachment] ) do |f| %>
    <p><%= f.file_field :image %></p>
    <p><%= f.submit "Add", class: "btn btn-primary btn-sm" %></p>
  <% end %>
</div>
