<div class="form-group mt-3 ml-4">
  <%= form_with(model: [@task, @attachment] ) do |f| %>
      <%= f.file_field :image, class: "form-control-file" %><br>
      <%= button_tag type: "submit", class: "btn btn-secondary btn-sm" do %>
        追加　<%= icon('fas', 'folder-plus') %>
      <% end %>
  <% end %>
</div>
