<% attachments.each do |attachment| %>
  <div id="attachment-<%= attachment.id %>">
    <%= image_tag attachment.image.url %>
    <%= link_to "ダウンロード", download_task_attachment_path(attachment.task, attachment), data: { turbolinks: "false", confirm: 'ダウンロードしますか?' }, method: :get %>
  </div>  　　
<% end %>
