<div class="welcome-container">

  <div class="welcome-messages" style="font-family: Osaka-Mono;">
    <h2 style="color: white;"><strong>Lemonfish</strong>ですべてのタスクを管理しよう</h2>
    <%= image_tag "/app/assets/images/Uploading-rafiki.svg" %>
  </div>

</div>
