/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";

body{
  font-family: monospace;
  background-color: yellow;
}

//flash messageのCSS//
.notice{
  background-color: #3399FF;
  color: white;
  text-align: center;
}

.alert{
  background-color: #FF3333;
  color: white;
  text-align: center;
}

//indexのCSS//
.link-mypage a{
  text-decoration: none;
}

.link-mypage:hover a{
  color: white;
}

//タスクCardのCSS//
.card{
  border-top: solid 3px dodgerblue;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  border-radius: 10px;
  background: #f0f7ff;
  margin-bottom: 3px;
}

.text-right{
  margin: 0 auto;
}

.help{
  margin-top: 10px;
  padding-top: 10px;
}

//タスクShowのCSS//
.task-cont{
  background: #f0f7ff;
  padding-top: 20px;
  border: solid 1px dodgerblue;
  border-radius: 15px;
}

.tag-show{
  margin-left: 20px
}

.term-show{
  margin-left: 20px
}

//Devise View PageのCSS//
.user-title{
  font-family: "Osaka-Mono";
  font-weight: bold;
}

.user-box{
  background: #f0f7ff;
  padding-top: 15px;
  padding-bottom: 10px;
  border: solid 1px dodgerblue;
  border-radius: 15px;
}

//User Profile View PageのCSS//

.user-prof{
  border: solid 1px dodgerblue;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  border-radius: 10px;
  background: #f0f7ff;
  margin-bottom: 3px;
}

.user-name{
  font-family: "Osaka-Mono";
}

.follow-show{
  border: solid 1px dodgerblue;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  border-radius: 10px;
  background: #f0f7ff;
  padding-top: 20px;
  margin-bottom: 3px;
}
