/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";

body{
  font-family: monospace;
  background-color: yellow;
}
#main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.footer{
  margin-top: auto;
}

//flash messageのCSS//
.notice{
  background-color: #3399FF;
  color: white;
  text-align: center;
}

.alert{
  background-color: #FF3333;
  color: white;
  text-align: center;
}

//indexのCSS//
.link-mypage a{
  text-decoration: none;
}

.link-mypage:hover a{
  color: white;
}

.card-help{
  border: solid 1px #DDDDDD;
  border-radius: 10px;
  background: #FFFF99;
}

//タスクCardのCSS//
.task-all{
  margin-top: 50px;
}
.card-index{
  border-top: solid 3px dodgerblue;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  border-radius: 10px;
  background: #f0f7ff;
  margin-bottom: 3px;
}

.text-right{
  margin: 0 auto;
}

.help{
  margin-top: 10px;
  padding-top: 10px;
}

//タスクShowのCSS//
.task-cont{
  background: #f0f7ff;
  padding-top: 20px;
  border: solid 1px dodgerblue;
  border-radius: 15px;
}

.tag-show{
  margin-left: 20px
}

.term-show{
  margin-left: 20px
}

.attachment{
  margin-top: 1px;
  margin-left: 20px;
  font-size: 14px;
}

//タスクEditのCSS//
.task-edit{
  background: #f0f7ff;
  padding-top: 20px;
  padding-bottom: 20px;
  border: solid 1px dodgerblue;
  border-radius: 15px;
}

//Devise View PageのCSS//
.user-new{
  margin-top: 70px;
  margin-left: 40px;
}

.user-title{
  font-family: "Osaka-Mono";
  font-weight: bold;
}

.user-box1{
  background: #FFFF99;
  padding-top: 15px;
  padding-bottom: 10px;
  border: solid 1px #CCCCCC;
}
.user-box2{
  background: #FFFF99;
  margin-left: 20px;
  padding-top: 15px;
  padding-bottom: 10px;
  border: solid 1px #CCCCCC;
}
.container-fluid{
  margin-top: 20px;
  background: dodgerblue;
  text-align: center;
}
.allrights{
  margin-top: 20px;
}

.user-prof{
  border: solid 1px dodgerblue;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  border-radius: 10px;
  background: #f0f7ff;
  margin-bottom: 3px;
}

.user-name{
  font-family: "Osaka-Mono";
}

.profile{
  border: solid 1px #DDDDDD;
  border-radius: 10px;
  background: #FFFF99;
}

.user-search{
  border: solid 1px #DDDDDD;
  border-radius: 10px;
  background: #FFFF99;
}

.follow-show{
  border: solid 1px #DDDDDD;
  border-radius: 10px;
  background: #FFFF99;
}
.welcome-img{
  height: 300px;
  width: 520px;
  margin-top: 20px;
  margin-bottom: 30px;
}

/*ページネーション自体のデザイン*/
.pagination>li>a {
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background: #93c9ff;
}

//タグ index pageのCSS//
.tag-index{
  font-family: "arial unicode ms";
}

.everytag{
  border: solid 1px #DDDDDD;
  border-radius: 10px;
  background: #FFFF99;
}

.tag-form{
  border: solid 1px #DDDDDD;
  border-radius: 10px;
  background: #FFFF99;
  padding-top: 20px;
  padding-bottom: 20px;
}

//Activity ShowのCSS//
.activity-list{
  border: solid 1px #DDDDDD;
  border-radius: 30px;
  background: #FFFF99;
}

//Notification ShowのCSS//
.notification-list{
  border: solid 1px #DDDDDD;
  border-radius: 30px;
  background: #FFFF99;
}

//Notification BellのCSS//
.notification-bell{
  position: absolute;
  padding-left: 10px;
  padding-top: 10px;
  color: red;
}

//レスポンシブ設定
@media (max-width: 1124px){
  .user-box1{
    background: #FFFF99;
    padding-top: 15px;
    padding-bottom: 10px;
    border: solid 1px #CCCCCC;
  }
  .user-box2{
    background: #FFFF99;
    margin-left: 10px;
    padding-top: 15px;
    padding-bottom: 10px;
    border: solid 1px #CCCCCC;
  }
  .welcome-img{
    height: 300px;
    width: 420px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .container-fluid{
    margin-top: 20px;
    background: dodgerblue;
    text-align: center;
  }
  .allrights{
    margin-top: 20px;
  }
}
@media (max-width: 600px){
  .task-all{
    margin-top: 5px;
  }
  .todolist{
    margin-top: 15px
  }
  .onworking{
    margin-top: 15px
  }
  .completed{
    margin-top: 15px
  }
  .user-new{
    margin-top: 30px;
    margin-left: 7px;
  }
  .user-box1{
    background: #FFFF99;
    padding-top: 15px;
    padding-bottom: 10px;
    border: solid 1px #CCCCCC;
  }
  .user-box2{
    background: #FFFF99;
    margin-left: 0;
    padding-top: 15px;
    padding-bottom: 10px;
    border: solid 1px #CCCCCC;
  }
  .welcome-img{
    height: 230px;
    width: 450px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .container-fluid{
    margin-top: 20px;
    background: dodgerblue;
    text-align: center;
  }
  .allrights{
    margin-top: 20px;
  }
}
